:root {
    /* Créer les tokens CSS (variables) que vais pouvoir réutilser */

    /* Colors */
    --color-black: #303031;
    --color-gray: #66645e;
    --color-gray-light: #f3f0ea;
    --color-white: #ffffff;
    --color-primary: #71a894;
    --color-secondary: #f5c64f;

    /* Shadow */
    --shadow-md: 0 2px 8px 0 rgb(0 0 0 / 0.1);

    /* Fonts */
    --font-family-heading: "Chonburi", serif;
    --font-family-base: "system-ui", sans-serif;

    /* Font sizes */
    --font-size-base: 1rem; /* 16px */
    --font-size-lg: 1.5rem;
    --font-size-xl: 3rem;
    --font-size-2xl: 4rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Spacing */
    --spacing-2xs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 3rem;
    --spacing-2xl: 4rem;

    /* Container */
    --container-default: 920px;
    --container-wide: 1330px;
}

/**
 * RESET
 * --------------------------------------------- */
*,
*::before *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * BASES
 * --------------------------------------------- */
body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: var(--color-black);
    background-color: var(--color-gray-light);
}

/* Heding */
h1,
h2,
h3,
h4 {
    font-family: var(--font-family-heading);
}

h1 {
    font-size: var(--font-size-2xl);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-lg);
}

h4 {
    font-size: var(--font-size-base);
}

/* Paragraphe */
p + p {
    margin-top: var(--spacing-md);
}

/* Liens */
a {
    color: inherit;
}

/* Images */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Navigation */
nav a {
    padding: var(--spacing-xs) var(--spacing-md);
    text-decoration: none;
}

/**
 * COMPOSANTS
 * --------------------------------------------- */
/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing-md);
    padding: var(--spacing-lg);
}

/* Footer */
.footer {
    display: flex;
    gap: var(--spacing-md);
    flex-direction: column;
    padding: var(--spacing-lg);
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
